.sign_up_page_title {
    font-size: 1.5em;
    text-align: center;
}

.sign_up_page_layout {
    display: flex;
    flex-direction: column;
}

.sign_up_page_form {
    align-self: center;
    width: 50%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
